body {
  background: #fff;
  font-family: Verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 80%;
}

.container {
  padding: 15px;
}

.title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 35px;
}

.timer {
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 40px;
}

button {
  padding: 10px;
}
